.contact{
    text-align: center;
    padding: 5rem 1rem;
    background-color: #f9f9f9;
    .contact_h2{
        font-size: 3rem;
        margin-bottom: 5rem;
        @media(max-width: 768px){
            font-size: 2.5rem;
        }
        @media(max-width: 576px){
            font-size: 2rem;
        }
    }
    .contact_a{
        .contact_a_button{
            font-weight: 700;
            font-size: 1rem;
            color: #ffffff;
            border: none;
            border-radius: 0.25rem;
            background-color: #112D4E;
            padding: 1rem;
            cursor: pointer;
        }
        .contact_a_button:active{
            transition: all 0.1s ease-in-out;
            transform: scale(0.95);
        }
    }
}