.skill{
    display: flex;
    flex-direction: flex-start;
    justify-content: center;
    width: 25%;
    margin-bottom: 5rem;
    @media(max-width: 768px){
        width: 33%;
    }
    @media(max-width: 576px){
        width: 100%;
        margin-bottom: 2.5rem;
    }
    .skill_img{
        width: 10rem;
        height: 3.5rem;
    }
}