.skill{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 7rem;
    width: 10rem; 
    margin: 0rem 1.5rem 5rem 1.5rem;
    .skill_h3{
        opacity: 0.5;
        margin-top: 0.5rem;
    }
    .skill_img{
       width: 4rem;
       transition: all 0.15s linear;
       filter: grayscale(100%) brightness(80%) contrast(230%);
       @media(max-width: 992px){
        filter: none;
       }
       &:hover{
        transition: all 0.15s linear;
           filter: none;
       }
    }
}