@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.html{color: #e34f26;}
.css{color: #1572b6;}
.sass{color: #cd6799;}
.bootstrap{color: #563d7c;}
.javascript{color: #f7df1e;}
.nodejs{color: #44883e;}
.jquery{color: #0868ac;}
.react{color: #61dafb;}
.github{color: #bd2c00;}
.git{color: #f05032;}
.npm{color: #cb3837;}
.firebase{color: #FFA611;}
.link{color: #4078c0;}