.skills{
    text-align: center;
    padding: 5rem 1rem;
    background-color: #ffffff;
    .skills_h2{
        font-size: 3rem;
        margin-bottom: 5rem;
        @media(max-width: 768px){
            font-size: 2.5rem;
        }
        @media(max-width: 576px){
            font-size: 2rem;
        }
    }
    .skills_div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        @media(max-width: 768px){
            width: 90%;
        }
    }
}