.freelance_available_circle {
  transition: all 0.5s;
}

.freelance_available_mail {
  transition: all 0.5s;
  transform: scale(0);
}

.freelance_available:hover .freelance_available_mail {
  transform: scale(1);
}

.freelance_available:hover .freelance_available_circle {
  transition: all 0.5s;
  background-color: rgba(72, 251, 71, 0.8);
}
