.pokeball{
  display: flex;
  justify-content: center;
  .pokeball_div{
    position: absolute;
    .pokeball_div_img{
      width: 12rem;
      cursor: pointer;
    }
    .pokeball_div_p{
      color: #ffffff;
      font-size: 1.5rem;
    }
  }
  .pokeball_img{
    position: absolute;
    margin-top: 2rem;
    width: 4rem;
    border-radius: 50%;
    animation: shake 3s cubic-bezier(.36,.07,.19,.97) infinite;
  }
}

@keyframes shake {
    0% { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-10px, 0) rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
}

@media(max-width: 576px){
  .pokeball{
    .pokeball_div{
      .pokeball_div_img{
        width: 7rem;
      }
      .pokeball_div_p{
        font-size: 1rem;
      }
    }
  }
}