.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 2rem 2rem 2rem;
    background-color: #112D4E;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.5rem;
    @media(max-width: 576px){
        margin: 0rem 0rem 2rem 0rem;
        width: 90%;
    }
    .project_img{
        border-radius: 0.5rem 0.5rem 0rem 0rem;
        margin-bottom: 1rem;
        @media(max-width: 576px){
            width: 100%;
        }
    }
    .project_h3{
        color: #F9F7F7;
        font-size: 2rem;
        margin-bottom: 2rem;
        @media(max-width: 576px){
            font-size: 1.5rem;
        }
    }
    .technologies{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        @media(max-width: 576px){
            display: none;
        }
        .technologies_img{
            margin: 0rem 0.5rem;
            border-radius: 0.25rem;
            @media(max-width: 576px){
                margin: 0.5rem 0rem;
            }
        }
    }
    .links{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        @media(max-width: 576px){
            flex-direction: column;
        }
        .links_a{
            text-decoration: none;
            color: #ffffff;
            display: flex;
            align-items: center;
            margin: 0rem 1rem;
            @media(max-width: 576px){
                margin: 0.5rem 0rem;
            }
            .links_a_button{
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                border-radius: 0.5rem;
                background-color: #3F72AF;
                border: none;
                padding: 0.4rem 0.6rem;
                font-size: 1.5rem;
                font-weight: 700;    
                color: #ffffff;
                cursor: pointer;
                .links_a_button_span{
                    margin-left: 0.5rem;
                    color: #ffffff;
                    font-size: 2rem;
                }
            }
            .links_a_button:active{
                transition: all 0.1s ease-in-out;
                transform: scale(0.95);
            }
        }
    }
}