@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

.name {
  font-family: "Parisienne", cursive;
}

@keyframes change-color {
  0% {
    color: #aa77ff;
  }
  50% {
    color: #62cdff;
  }
  100% {
    color: #aa77ff;
  }
}

@keyframes change-border-color {
  0% {
    border-color: #aa77ff;
  }
  50% {
    border-color: #62cdff;
  }
  100% {
    border-color: #aa77ff;
  }
}
