footer{
    padding: 1rem;
    background-color: #ffffff;
    text-align: center;
    .socials{
        margin-bottom: 2rem;
        .socials_a{
            color: #000000;
            margin: 0rem 0.5rem;
            text-decoration: none;
            font-size: 2rem;
        }
    }
    .brand{
        .brand_p{
            color: #000000;
            font-weight: 700;
            .brand_p_span{
                color: #b6332b;
            }
            .brand_p_span:hover{
                animation: heartbeat 1.25s infinite;
            }
            @keyframes heartbeat{
                0%{transform: scale(1);}
                20%{transform: scale(.75);}
                40%{transform: scale(1);}
                60%{transform: scale(.75);}
                80%{transform: scale(1);}
                100%{transform: scale(1);}
            }
            .brand_p_span_a{
                color: #000000;
                font-weight: 700;
            }
        }
    }
}