.projects{
    text-align: center;
    padding: 5rem 1rem;
    background-color: #ffffff;
    .projects_h2{
        font-size: 3rem;
        margin-bottom: 5rem;
        @media(max-width: 768px){
            font-size: 2.5rem;
        }
        @media(max-width: 576px){
            font-size: 2rem;
        }
    }
    .projects_div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }    
}
